.side-nav {
    background: #101010;
}

.side-nav > li {
    width: 100%;
    text-align: center;
}

.side-nav > li:hover, .side-nav > li.active {
    background: #212121;
}

.side-nav > li > h5:hover {
    background: #101010 !important;
}

.side-nav > li > a, i.material-icons, li > .input-field {
    color: #BDBDBD !important;
}

.side-nav > .input-field{
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.collapsible, div.collapsible-body {
    border-color: #212121;
}

#new, #new > .material-icons{
    color: #009688 !important;
}

#button_cancel_edit {
    margin-right: 16px;
}

div.collapsible-header {
    border-color: #424242;
}

#slide-out > .placeholder, #slide-out > .placeholder:hover {
    background: transparent;
    color: transparent;
    height: 64px;
}

#slike_form{
    padding: 0 0.75rem
}

.progress {
    margin-top: 12px;
}

/*fixes broken label position on firefox*/
.input-field label {
    left: 16px;
}

#menu_toggle_button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.header_button {
    margin-top: 3px;
}

li > a.inactive, li > a.inactive > i {
    color: #424242 !important;
}

li > a.expiring, li > a.expiring > i {
    color: #009688 !important;
}

nav, main, footer {
    padding-left: 300px;
}

main {
    margin-top: 32px;
}

#search_clear_icon {
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
}

.collapsible-header > span.badge.right {
    position: relative !important;
}

@media only screen and (max-width : 992px) {
    nav, main, footer {
        padding-left: 0;
    }
}