section {
    margin: 0 auto;
    white-space: nowrap;
    overflow: scroll;
}

img {
    height: 300px;
}

.pic-row {
    padding: 16px;
}

.pic-row > a {
    height: 300px;
    margin: 4px;
}

#gallery_container {
    overflow: hidden;
    margin-left: -16px;
    height: 350px;
}

.pic-container {
    overflow-x: scroll;
    overflow-y: inherit;
    padding-bottom: 17px;
}

.lighter-overlay {
    background: rgba(0, 0, 0, 0.9);
}

.lighter-close {
    visibility: hidden;
}