section {
    margin: 0 auto;
    white-space: nowrap;
    overflow: scroll;
}

img {
    height: 300px;
}

.pic-row {
    padding: 16px;
}

.pic-row > a {
    height: 300px;
    margin: 4px;
}

#gallery_container {
    overflow: hidden;
    margin-left: -16px;
    height: 350px;
}

.pic-container {
    overflow-x: scroll;
    overflow-y: inherit;
    padding-bottom: 17px;
}

.lighter-overlay {
    background: rgba(0, 0, 0, 0.9);
}

.lighter-close {
    visibility: hidden;
}

.specs{
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

.specs > div {
    font-size: 14px;
    line-height: 28px;
    color: #757575;
}

.specs > div > span {
    color: #9E9E9E;
    text-transform: none;
}

.specs > div > span > a{
    color: #9E9E9E;
}

.description {
    text-align: justify;
}

.container > h5 {
    width: 100%;
    text-align: center;
}

#gallery_container {
    width: 100vw;
}

.gallery_arrow_wrapper {
    visibility: hidden;
}

@media (min-width: 767px) {

    .container > h5 {
        text-align: left;
    }

    .gallery_arrow_wrapper {
        visibility: visible;
        height: 300px;
        width: 64px;
        position: absolute;
    }

    .gallery_arrow_wrapper > img {
        width: 100%;
        cursor: pointer;
    }
}
