section {
    margin: 0 auto;
    white-space: nowrap;
    overflow: scroll;
}

img {
    height: 300px;
    margin: 4px;
}

.material-placeholder {
    display: inline-block !important;
}

.pic-row {
    padding: 16px;
}

#gallery_container {
    overflow: hidden;
    margin-left: -16px;
    height: 360px;
}

.pic-container {
    overflow-x: scroll;
    overflow-y: inherit;
    padding-bottom: 17px;
}