#paralax {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../img/night.jpg") no-repeat fixed center;
    height: 90vh;

}

#paralax > .row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-field {
    width: 30vw;
}

@media (min-width: 767px) {
    #paralax {
        height: 50vh;
    }
}