form {
    margin-bottom: 16px !important;
}

form > div {
    padding-left: 16px;
    padding-right: 16px;
}

form > div.center-align {
    margin-bottom: 0;
}

.g-recaptcha > div {
    width: 100% !important;
    margin-bottom: 8px;

}

body > .row > div {
    margin-top: 32px;
}

/*fixes broken label position on firefox*/
.input-field label {
    left: 16px;
}

div > p {
    padding-bottom: 8px;
}

@media screen and (max-width: 600px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(1);
        -webkit-transform: scale(1);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media (min-width: 600px) {
    form {
        margin-left: 32px;
        margin-right: 32px;
    }
}