form {
    margin-bottom: 16px !important;
    margin-left: 32px;
    margin-right: 32px;
}

form > div {
    padding-left: 16px;
    padding-right: 16px;
}

form > div.center-align {
    margin-bottom: 0;
}

.g-recaptcha > div {
    width: 100% !important;
    margin-bottom: 8px;

}

body > .row > div {
    margin-top: 32px;
}

@media screen and (max-width: 600px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}