#search_bar_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -46px;
}

figcaption > button {
    background: transparent;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.dotstyle {
    display: flex;
    justify-content: center;
}