<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

	<link rel="stylesheet" href="../css/components/normalize.css">
    <link rel="stylesheet" href="../css/components/text_input_effect.css">
	<link rel="stylesheet" href="../css/components/search_bar.css">
	<script src="../js/jquery-3.1.0.min.js"></script>
</head>
<body>
<span class="input input--shoko">
	<input class="input__field input__field--shoko" pattern="^(?![\s\S])" type="text" id="search_bar_input"/>
	<label class="input__label input__label--shoko" for="search_bar_input">
		<span class="input__label-content input__label-content--shoko">Išči</span>
	</label>
	<svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60"
		 preserveAspectRatio="none">
		<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
		<path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
	</svg>
</span>
</body>
</html>